/* Meme Generator 3.0 */

/* Generator Page */

.meme-container {
    padding-bottom:15px;
}
.btn-meme, .btn-generated {
    width:100%;
}
.meme-btn-image-container {
    width:100%;
    height:128px;
    line-height:128px;
    text-align:center;
}
.meme-btn-image-container img {
    max-width:100%;
    max-height:100%;
}

.modal .modal-body img {
    border:1px solid black;
    cursor:default;
}
.modal .modal-body img:hover {
    border:1px solid black;
}

#meme-modal .modal-body input[type=text] {
    width:100%;
    text-align:center;
}

canvas {
    max-width:100%;
    max-height:460px;
    border:1px solid black;
}

.modal .modal-body p {
    /*text-align:center;*/
}

/* Add Meme Form */

.meme-add-displayed-image {
    max-width:100%;
}

/* Generic classes */

.no-padding {
    padding:0;
}
.padding-four {
    padding:4px;
}

.no-margin {
    margin:0;
}

.grid-height {
    position:relative;
    display:block;
    height:500px;
    max-height:500px;
    overflow:auto;
}

.row-pointers tbody tr {
    cursor:pointer;
}

.grid-loading-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,0.15);
    cursor:default;
}
.grid-loading-overlay-content {
    cursor:default;
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:36px;
    background-color:rgba(255,255,255,0.33);
    padding:8px 0;
    text-align:center;
}

canvas.droppable-canvas {
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color:#555;
    display:block;
    width:100%;
}

/* End file: ./public/css/meme.css */
